<%- include('../partials/header') %>
<div class="container">
    <h1>Game Lobby</h1>
    <div class="lobby-container">
        <div class="players-list">
            <h2>Players</h2>
            <div id="connected-players"></div>
        </div>
        <div class="lobby-chat">
            <h2>Lobby Chat</h2>
            <div id="lobby-messages"></div>
            <input type="text" id="lobby-chat-input" placeholder="Type a message...">
        </div>
        <div class="lobby-controls">
            <button id="start-game" class="btn">Start Game</button>
            <button id="leave-lobby" class="btn">Leave Lobby</button>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
